body {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: beige;
    font-family: sans-serif;
}

th {
    text-align: left;
    padding-right: 1em;
}

td, th {
    padding: 0.2rem;
}

#errorMessages {
    margin: 2rem;
    padding: 1rem;
    border-width: 1px;
    border-color: red;
    border-style: solid;
    color: red;
    display: none;
}

#form {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

div.datasetVersion {
    margin-top: 1rem;
    margin-bottom: 1rem;
}